table {
    text-align: center;
}

tr {
  height: 50px;
}

td {
  width: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
}

.main {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.inputs {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

input {
  width: 60px;
  height: 60px;
  margin: 10px;
  text-align: center;
  font: 2em sans-serif;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control {
  margin: 10px;
  width: 50px;
  height: 50px;
}

.playback {
  display: flex;
}

.tempo {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

button {
  width: 50px;
  height: 50px;
  margin: 10px;
  text-align: center;
  font: 1.3em sans-serif;
  background: none;
  border: none;
}

.on {
  background-color: #4050AF;
}

.off {
  background-color: #DDDDDD;
}

.playing {
  animation-duration: 500ms;
  animation-name: pulse;
}

.paused {
  background-color: #EEFAFF;
}

@keyframes pulse {
  0% {
    background-color: #EEFAFF;
  }

  100% {
  }
}
