table {
    text-align: center;
}

tr {
  height: 50px;
}

td {
  width: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
}

.main {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.inputs {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

input {
  width: 60px;
  height: 60px;
  margin: 10px;
  text-align: center;
  font: 2em sans-serif;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control {
  margin: 10px;
  width: 50px;
  height: 50px;
}

.playback {
  display: flex;
}

.tempo {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

button {
  width: 50px;
  height: 50px;
  margin: 10px;
  text-align: center;
  font: 1.3em sans-serif;
  background: none;
  border: none;
}

.on {
  background-color: #4050AF;
}

.off {
  background-color: #DDDDDD;
}

.playing {
  animation-duration: 500ms;
  animation-name: pulse;
}

.paused {
  background-color: #EEFAFF;
}

@keyframes pulse {
  0% {
    background-color: #EEFAFF;
  }

  100% {
  }
}

.modal {
  position: fixed;;
  width: 400px;
  height: 280px;
  background-color: white;
  opacity: 0.9;
  border-color: black;
  border-width: 2px;
  padding: 16px;
  border-style: solid;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;;
  align-items: center;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  min-height: 20px;
}

.modal-body {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.87;
  z-index: 1;
}
